@font-face {
  font-family: 'Lean';
  src: local('Lean'), url('./assets/fonts/Lean.otf') format('truetype');
}

@font-face {
  font-family: 'NotoSansKRBold';
  src: local('NotoSansKRBold'),
    url('./assets/fonts/NotoSansKR-Bold.otf') format('truetype');
}

@font-face {
  font-family: 'NotoSansKR';
  src: local('NotoSansKR'),
    url('./assets/fonts/NotoSansKR-Regular.otf') format('truetype');
}
